<!-- <p>author works!</p> -->

<div class="container">
    <h2>Create Author</h2>
    <form (ngSubmit)="createAuthor()" #authorForm="ngForm">
    <!-- <form (ngSubmit)="createAuthor()"> -->
      <div class="form-group">
        <label for="authorName">Author's Name:</label>
        <input
          type="text"
          class="form-control"
          id="authorName"
          name="authorName"
          [(ngModel)]="authorName"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Create Author Book Details</button>
      <div *ngIf="successMessage">
        <h3>{{ successMessage }}</h3>
     </div>
     <p class="no-details" *ngIf="errorMessage">No author details available.</p>
    </form>
  </div>